

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
a {
    text-decoration: none;
}
p{
    margin:0.75rem 0;
}
.container{
    max-width:1000px;
    margin:auto;
    padding:0 1rem;
    overflow: hidden;
}
.text-center{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    text-align: center;
}
/* utility classes */
.text-primary {
    background: #AC7B84;
}
.l-heading {
    font-size: 50px;
    line-height: 400;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    color:white;
    font-family: 'Share', cursive;

}
.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.py-1{
    padding:1.5rem 0;

}
.btn {
    display:inline-block;
    color:#fff;
    background: #AC7B84;
    padding: 0.5rem 2rem;
    border:none;
    text-align: center;
    border-radius: 5px;
    
}


/* navbar */
#navbar {
    background: #333;
    color:#fff;
    position: sticky;
    top:0;
    display:flex;
    justify-content: space-between;
    z-index:1;
    padding:1rem;
}
#navbar ul{
    display:flex;
    align-items:center;
    list-style:none;
}
#navbar ul li a {
    color:#fff;
    padding:0.75rem;
    margin:0 0.25rem;
    float:right;
}
#navbar ul li a:hover {
    background: #AC7B84;
    border-radius: 5px;
}

/* Showcase */

#showcase{
    background: #333 url('../image/bank1.jpeg')
     no-repeat center center/cover;
    height:100vh;
}
#showcase .showcase-content {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items:center;
    height:100%;
    color:black;
   padding:0 2rem;
    position: absolute;
    right:0;
    bottom:0;
    top:65px;
    left:0;
    text-align: center;
  
}
/* WHo we are */
.who-text {
    color:lightpink;
    font-size: 40px;
    font-family: 'Itim', cursive;
}
#who-image p{
     font-family: 'Share', cursive;
}
#who-image {
    background: whitesmoke;
    text-align: center;

}
.branc{
    text-decoration: none;
    
}
#who-image1{
    background: lightblue;
    text-align: center;
}

/* items */
#about {
    padding:2rem 0;
    margin-bottom: 2rem;
}
#about .row , #item {
    
    text-align: center;
    
}
#item i {
    background:#AC7B84 ;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.about-text-1{
    font-family: 'Righteous', cursive;
    font-size: 23px;
    text-align: center;
    margin-bottom: 2rem;;
}
.about-text-1 hr {
    background-color: #AC7B84;
    width:70px;
    height:4px;
    margin:0 auto;
    border:none;
}
.about-text {
    font-family: 'Pangolin', cursive;
}
#item p{
    font-family: 'Itim', cursive;
}
#image-4{
    border-radius: 40%;
}

/*footter*/

.footer-1 {
    background: #212226;
    padding:40px;
}
.fotter-text p{
    text-align: center;
    color:blue;
}


ul.social-media {
    padding:0;
    margin-top:20px;
    text-align: center;
}
ul.social-media li {
    display:inline-block;
    padding:0;
}
ul.social-media li a {
    border:1px solid #fff;
    width:35px;
    height:35px;
    display:inline-block;
    line-height: 35px;
    color:#fff;
    border-radius: 50%;
    -webkit-transition: all 40ms linear;
    transition: all 40ms linear;
}
ul.social-media li:nth-child(1) a:hover {
    background: #3b5958 ;
    border-color: transparent;
}
ul.social-media li:nth-child(2) a:hover {
    background: #3b5958 ;
    border-color: transparent;
}
ul.social-media li:nth-child(3) a:hover {
    background: #3b5958 ;
    border-color: transparent;
}